<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="IntegrationServiceModuleSettings" type="Seagull.IntegrationUI.Management.Configuration.IntegrationSection, Seagull.IntegrationUI.Management"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Seagull.Administration.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Seagull.IntegrationUI.Management.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Seagull.IntegrationUI.Messaging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MessagingClient.NumberOfClients" value="1" />
    <add key="MessagingClient.ServicePort" value="5159" />
    <add key="MessagingClient.ServiceAddress" value="net.tcp://{0}:{1}/MessagingClientService" />
    <add key="ServiceSettings.DefaultPort" value="5150" />
    <add key="ServiceSettings.DefaultInstanceName" value="Service" />
    <add key="ServiceSettings.DefaultServerName" value="localhost" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingConfig"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="6524288"
                 maxBufferSize="2147483647"
                 maxConnections="10"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Graph">
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Seagull.Services.Integration.Client.Messaging.MessagingClientService">
        <endpoint name="MessagingClientBinding"
              binding="netTcpBinding"
              bindingConfiguration="NetTcpBindingConfig"
              contract="Seagull.Services.Integration.Contracts.Messaging.IMessagingClientService" />
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:5150/Integration/Management/Service"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBindingConfig"
                contract="Seagull.Services.Integration.Contracts.Triggers.IIntegrationService"
                name="IntegrationEndpointConfiguration"
                behaviorConfiguration="Graph" />
      <endpoint address="net.tcp://localhost:5150/Integration/Messaging"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBindingConfig"
                contract="Seagull.Services.Integration.Contracts.Messaging.IMessagingService" />
      <endpoint address="net.tcp://localhost:5150/Integration/Logging"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBindingConfig"
                contract="Seagull.Services.Integration.Contracts.Logging.ILoggingService" />
      <endpoint address="net.tcp://localhost:5150/Integration/Service/Performance"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBindingConfig"
                contract="Seagull.Services.Performance.Contracts.IPerformanceService" />
    </client>
  </system.serviceModel>

  <!-- NLog Configuration -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!-- Log to a daily file rolling for a week -->
      <target name="logfile"
              xsi:type="File"
              layout="${longdate} ${level:uppercase=true}: ${message}"
              fileName="${environment:ALLUSERSPROFILE}/Seagull/Administration/Logging/AdminConsole.txt"
              archiveFileName="${environment:ALLUSERSPROFILE}/Seagull/Administration/Logging/Archive/AdminConsole.{#}.txt"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>

  <IntegrationServiceModuleSettings>
    <Service AutoStartEnabled="true" />
  </IntegrationServiceModuleSettings>

  <userSettings>
    <Seagull.Administration.Console.Properties.Settings>
      <setting name="ShellWindowPlacement" serializeAs="String">
        <value />
      </setting>
    </Seagull.Administration.Console.Properties.Settings>
     <Seagull.IntegrationUI.Management.Properties.Settings>
        <setting name="ErrorMessagesDialog_Top" serializeAs="String">
           <value>0</value>
        </setting>
        <setting name="ErrorMessagesDialog_Left" serializeAs="String">
           <value>0</value>
        </setting>
        <setting name="ErrorMessagesDialog_Height" serializeAs="String">
           <value>300</value>
        </setting>
        <setting name="ErrorMessagesDialog_Width" serializeAs="String">
           <value>350</value>
        </setting>
     </Seagull.IntegrationUI.Management.Properties.Settings>

     <Seagull.IntegrationUI.Messaging.Properties.Settings>
        <setting name="MessagesOptions_NumberOfDays" serializeAs="String">
           <value>7</value>
        </setting>
        <setting name="MessagesOptions_RemoveOldMessagesFlag" serializeAs="String">
           <value>True</value>
        </setting>
        <setting name="ErrorMessagesDialog_Top" serializeAs="String">
           <value>0</value>
        </setting>
        <setting name="ErrorMessagesDialog_Left" serializeAs="String">
           <value>0</value>
        </setting>
        <setting name="ErrorMessagesDialog_Height" serializeAs="String">
           <value>300</value>
        </setting>
        <setting name="ErrorMessagesDialog_Width" serializeAs="String">
           <value>350</value>
        </setting>
        <setting name="MessageDetails_WrapText" serializeAs="String">
           <value>True</value>
        </setting>
        <setting name="ErrorMessagesDialog_WrapText" serializeAs="String">
           <value>True</value>
        </setting>
     </Seagull.IntegrationUI.Messaging.Properties.Settings>
  </userSettings>
</configuration>
