<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="PrintSchedulerServiceSettings" type="Seagull.Services.PrintScheduler.Server.Data.ConfigServiceSettings, Seagull.Services.PrintScheduler.Server"/>
     <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Seagull.IntegrationUI.Management.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Seagull.IntegrationUI.Messaging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
     </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MessagingClient.NumberOfClients" value="20" />
    <add key="MessagingClient.ServicePort" value="5120" />
    <add key="MessagingClient.ServiceAddress" value="net.tcp://{0}:{1}/MessagingClientService" />
    <add key="Integration.Server.UseMemoryStorage" value="true"/>
    <add key="ServiceSettings.DefaultPort" value="5150" />
    <add key="ServiceSettings.DefaultInstanceName" value="Service" />
    <add key="ServiceSettings.DefaultServerName" value="localhost" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingConfig"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="6524288"
                 maxBufferSize="2147483647"
                 maxConnections="10"
                 portSharingEnabled="false"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBindingConfigNotShared"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="6524288"
                 maxBufferSize="2147483647"
                 maxConnections="10"
                 portSharingEnabled="false"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding name="RoutingMsmqBindingConfig"
                 exactlyOnce="true"
                 durable="true"
                 maxReceivedMessageSize="2147483647" >
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Graph">
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <!-- Integration Management Service -->
      <service name="Seagull.Services.Integration.Server.IntegrationService">
        <endpoint address="net.tcp://localhost:5150/Integration/Builder-Test/Management"
          binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig"
          contract="Seagull.Services.Integration.Contracts.Management.IIntegrationService" />
      </service>
      <!-- Integration Performance Service -->
      <service name="Seagull.Services.Hosts.Integration.IntegrationPerformanceService">
        <endpoint address="net.tcp://localhost:5150/Integration/Builder-Test/Performance" binding="netTcpBinding"
          bindingConfiguration="NetTcpBindingConfig" contract="Seagull.Services.Performance.Contracts.IPerformanceService" />
      </service>
      <!--Print Scheduler Service-->
      <service name="Seagull.Services.PrintScheduler.Server.PrintSchedulerService">
        <endpoint address="net.tcp://localhost:5150/PrintScheduler/Builder" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="Seagull.Services.PrintScheduler.Contracts.IPrintSchedulerService" />
      </service>
      <!--Print Scheduler Performance Service-->
      <service name="Seagull.Services.Hosts.PrintScheduler.PrintSchedulerPerformanceService">
        <endpoint address="net.tcp://localhost:5150/PrintScheduler/Builder/Performance" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="Seagull.Services.Performance.Contracts.IPerformanceService" />
      </service>
      
      <!-- Messaging Client Service -->
      <service name="Seagull.Services.Integration.Client.Messaging.MessagingClientService">
        <endpoint name="MessagingClientBinding"
              binding="netTcpBinding"
              bindingConfiguration="NetTcpBindingConfigNotShared"
              contract="Seagull.Services.Integration.Contracts.Messaging.IMessagingClientService" />
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:5150/Integration/Builder-Test/Management" 
                binding="netTcpBinding" 
                bindingConfiguration="NetTcpBindingConfig" 
                contract="Seagull.Services.Integration.Contracts.Management.IIntegrationService" 
                name="tcp" />
      <endpoint address="net.tcp://localhost:5150/Integration/Builder-Test/Performance"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBindingConfig"
                contract="Seagull.Services.Performance.Contracts.IPerformanceService" />
      <endpoint name="MessagingRoutingServiceBinding" 
                address="net.msmq://localhost/private/Seagull.Services.Messaging.Routing" 
                binding="netMsmqBinding" 
                bindingConfiguration="RoutingMsmqBindingConfig" 
                contract="Seagull.Services.Integration.Contracts.Messaging.IMessagingQueueService" />
      <endpoint address="net.tcp://localhost:5150/Integration/Logging"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBindingConfig"
                contract="Seagull.Services.Integration.Contracts.Logging.ILoggingService" />
      <endpoint address="net.tcp://localhost:5150/PrintScheduler/Builder"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBindingConfig"
                contract="Seagull.Services.PrintScheduler.Contracts.IPrintSchedulerService" />
    </client>
  </system.serviceModel>

  <!-- Log Configuration -->
  <!--internalLogFile="c:\Nlog.txt" internalLogLevel="Trace"-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!--Configure File Log Targets-->
      <target name="All" xsi:type="AsyncWrapper">
        <target name="logfile" xsi:type="File"
           fileName="${specialfolder:folder=CommonApplicationData}\Seagull\IntegrationBuilder\Logging\Builder.txt"
           layout="${date:format=yyyy.MM.dd.HHmmss}: ${pad:padding=7:inner=${level}}: ${message}: ${pad:padding=75:inner=${logger}}"
           archiveFileName="${specialfolder:folder=CommonApplicationData}\Seagull\IntegrationBuilder\Logging\Archive\Builder.{#}.txt"
           archiveEvery="Day"
           archiveNumbering="Rolling"
           maxArchiveFiles="7"
        />
      </target>
    </targets>
    <!--Configure logger rules.-->
    <rules>
      <logger name="*" minlevel="Info" writeTo="All" />
    </rules>
  </nlog>

  <!-- Print Scheduler Service Settings -->
  <PrintSchedulerServiceSettings>
    <Cache OpenDocumentLimit="5" OpenDocumentIdleTime="0" OpenDocumentRefreshTime="-1"/>
    <Recovery TerminateAndRestartUnresponsivePrintEngine="true" TimeBeforeRestartMilliseconds="120000" ResendFailedJobs="true" ResendFailedJobsRetries="1"/>
    <PrintEngine NumberOfPrintEngines="1" RestartEngineMethod="OnlyOnFailure" StartupCommand="" DesktopHeap="2048" Recoverable="false" RecoverableQueueName="" />
    <!-- Possible options for EngineVisibility are None, All, InteractiveDialogs, and StartingLabelDialogOnly -->
    <Console EngineVisibility="InteractiveDialogs" />
  </PrintSchedulerServiceSettings>

   <userSettings>
      <Seagull.IntegrationUI.Management.Properties.Settings>
         <setting name="ErrorMessagesDialog_Top" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ErrorMessagesDialog_Left" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ErrorMessagesDialog_Height" serializeAs="String">
            <value>300</value>
         </setting>
         <setting name="ErrorMessagesDialog_Width" serializeAs="String">
            <value>350</value>
         </setting>
      </Seagull.IntegrationUI.Management.Properties.Settings>

      <Seagull.IntegrationUI.Messaging.Properties.Settings>
         <setting name="MessagesOptions_NumberOfDays" serializeAs="String">
            <value>7</value>
         </setting>
         <setting name="MessagesOptions_RemoveOldMessagesFlag" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="ErrorMessagesDialog_Top" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ErrorMessagesDialog_Left" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ErrorMessagesDialog_Height" serializeAs="String">
            <value>300</value>
         </setting>
         <setting name="ErrorMessagesDialog_Width" serializeAs="String">
            <value>350</value>
         </setting>
         <setting name="MessageDetails_WrapText" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="ErrorMessagesDialog_WrapText" serializeAs="String">
            <value>True</value>
         </setting>
      </Seagull.IntegrationUI.Messaging.Properties.Settings>
   </userSettings>

</configuration>
