<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <system.diagnostics>
		<switches>
			<!-- This switch determines if diagnostics information will be outputted to a 
			log file:
					"0" = no output
					"1" = output permitted (amount of output depends on serviceTraceLevelSwitch)
			-->
			<add name="serviceDiagnosticsSwitch" value="0"/>
			<!-- This switch controls general messages. In order to receive general trace
			messages change the value to the appropriate level. "1" gives error messages,
			"2" gives errors and warnings, "3" gives more detailed information, and 
         "4" gives verbose trace information -->
			<add name="serviceTraceLevelSwitch" value="2"/>
			<add name="eventSystemTraceLevelSwitch" value="2"/>
		</switches>
	</system.diagnostics>
</configuration>
