<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
   </configSections>
   <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>

   <!-- Log Configuration -->
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
         <!-- Configure File Log Targets -->
         <target name="API.Print" xsi:type="AsyncWrapper">
            <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}\Seagull\Print Station\Logging\API.Print.txt" layout="${date:format=yyyyMMddHHmmss} ${message}"/>
         </target>
         <target name="API.PrintServer" xsi:type="AsyncWrapper">
            <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}\Seagull\Print Station\Logging\API.Print.txt" layout="${date:format=yyyyMMddHHmmss} ${message}"/>
         </target>
         <target name="All" xsi:type="AsyncWrapper">
            <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}\Seagull\Print Station\Logging\All.txt" layout="${date:format=yyyyMMddHHmmss} ${message}"/>
         </target>
      </targets>

      <!-- Configure logger rules. -->
      <!-- Uncomment to enable logging for specific targets -->
      <rules>
         <!--<logger name="*" minlevel="Info" writeTo="All" />-->
         <!--<logger name="API.PrintServer" minlevel="Info" writeTo="API.PrintServer" />-->
         <!--<logger name="API.Print" minlevel="Info" writeTo="API.Print" />-->
      </rules>
   </nlog>
</configuration>
